p,
h1,
h2,
h3,
h4,
h5,
h6,
button {
    font-family: "Roboto", serif;
}

body {
    background-color: #f5f5f9;
    background-size: cover;
    width: auto;
    overflow-x: hidden;
    font-family: "Roboto", serif;
    margin: 0px;
}

.nav-bar {
    width: 100%;
    display: inline-block;
    background-color: #1C539F;
    font-family: "Roboto", serif;
    font-weight: 700 !important;
    padding-top: 10px;
}

.nav-content .logo-touch-target {
    display: inline-flex;
    height: 60%;
    width: 350px;
}

.nav-content .nav-logo {
    height: 60px;
    margin: auto;
}

.nav-logo {
    display: flex;
    align-items: center;
    justify-content: center;
}

.nav-logo img {
    width: 200px;
}

@media only screen and (max-width: 1000px) {
    .grid-layout {
        display: block;
        padding: 1rem 0;
    }

}

.college {
    margin-top: 1rem;
    margin-left: none;
    align-self: center;
}

@media screen and (max-width: 1000px) {
    .education-info {
        flex-wrap: wrap;
        flex-direction: column;
    }

    .college {
        margin-top: 1rem;
        margin-left: none;
        align-self: center;
    }

}

.education-description {
    padding-right: 5rem;
}

/* Professional Experience */
#work-experience {
    height: 100%;
    grid-template-columns: repeat(2, 50%);

}

#work-experience img {
    width: 200px;
}

.work-experience-header {
    grid-column: span 2;
    margin-left: 6rem;
    margin-right: 6rem;
    margin-top: 3rem;
}

.work-experience {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    height: fit-content;
    margin: 0 6rem 3rem 6rem;
}

.work-experience img {
    align-self: center;
}

/* footer */
.copyright {
    text-align: center;
    margin: 3rem;
}

/* Map Page */
#map-header {
    text-align: center;
    padding: 3rem 5rem 0 5rem;
    font-size: 3rem;
    color: #B56576;
}

#map-description {
    text-align: center;
    font-size: 1.3rem;
    font-style: italic;
}

.map-container {
    padding: 2rem 0;
}

.map {
    margin: auto;
    border: 3px solid rgb(40, 40, 40);
}