{% extends 'base.html' %}

{% block head %}

{% endblock %}

{% block body %}
<h1 id="hobbies-title">My Hobbies</h1>
<div class="grid-layout margin-change">
    {% for hobby in hobby_info %}
    <div class="grid-layout box-border2" id="hobbies" data-aos="fade-up" data-aos-delay="50">
        <div class="hobbies">
            <h3>{{hobby.title}}</h3>
            <div class="hobbies-title">
                <p>{{hobby.description}}</p>
            </div>

            <div class="hobbies-image">
                <img src="{{hobby.img}}" alt="Picture of Hobby">
                <p>{{hobby.img_description}}</p>
            </div>
        </div>
    </div>
    {% endfor %}

</div>


{% endblock %}