{% extends 'base.html' %}

{% block head %}

{% endblock %}

{% block body %}
<div class="introduction">
    <div class="introduction-text">
        <p>hello, nice to meet you</p>
        <h1>I'm {{header_info.name}}</h1>
    </div>

    <div class="introduction-image">

        <img src="/static/img/logo.jpg" alt="">
    </div>

</div>

<div class="about-yourself box-border">
    <div class="about-yourself-title">
        <h3>Let me tell you a little bit about myself...</h3>
    </div>
    <div class="about-yourself-description1">
        <p>{{about_info.aboutDescription}}</p>
    </div>

</div>

{% include 'education.html' %}

{% include 'workExperience.html' %}

{% endblock %}