{% extends 'base.html' %}

{% block head %}

{% endblock %}

{% block body %}
<div class="introduction">
    <div class="introduction-text">
        <p>hello, nice to meet you</p>
        <h1>I'm {{header_info.name}}</h1>
    </div>

    <div class="introduction-image">

        <img src="/static/img/logo.jpg" alt="">
    </div>

</div>

<div class="about-yourself box-border">
    <div class="about-yourself-title">
        <h3>Let me tell you a little bit about myself...</h3>
    </div>
    <div class="about-yourself-description1">
        <p>{{about_info.aboutDescription}}</p>
    </div>

</div>

<div class="grid-layout box-border" id="education">
    <div class="education-header">
        <h3>Where do I attend school?</h3>
    </div>
    <div class="education-info">
        <div class="education-description">
            <p>{{about_info.educationDescription}}</p>
        </div>
        <div class="college">
            <img src={{images.college}} alt="">
        </div>
    </div>

</div>
<div class="grid-layout box-border" id="work-experience">
    <div class="work-experience-header">
        <h3>My Professional Experiences</h3>
    </div>
    {% for experience in workExperience %}
    <div class="work-experience">
        <h4>{{experience.title}}</h4>
        <img src="{{experience.img}}" alt="">
        <p>{{experience.description}}</p>
    </div>
    {% endfor %}
</div>
{% endblock %}