<!DOCTYPE html>
<head>    
    <meta http-equiv="content-type" content="text/html; charset=UTF-8" />
    
        <script>
            L_NO_TOUCH = false;
            L_DISABLE_3D = false;
        </script>
    
    <style>html, body {width: 100%;height: 100%;margin: 0;padding: 0;}</style>
    <style>#map {position:absolute;top:0;bottom:0;right:0;left:0;}</style>
    <script src="https://cdn.jsdelivr.net/npm/leaflet@1.6.0/dist/leaflet.js"></script>
    <script src="https://code.jquery.com/jquery-1.12.4.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Leaflet.awesome-markers/2.0.2/leaflet.awesome-markers.js"></script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/leaflet@1.6.0/dist/leaflet.css"/>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css"/>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css"/>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.6.3/css/font-awesome.min.css"/>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/Leaflet.awesome-markers/2.0.2/leaflet.awesome-markers.css"/>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/gh/python-visualization/folium/folium/templates/leaflet.awesome.rotate.min.css"/>
    
            <meta name="viewport" content="width=device-width,
                initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
            <style>
                #map_6d7b5833d0d0af6fff6a1fb31b44e107 {
                    position: relative;
                    width: 100.0%;
                    height: 100.0%;
                    left: 0.0%;
                    top: 0.0%;
                }
            </style>
        
</head>
<body>    
    
            <div class="folium-map" id="map_6d7b5833d0d0af6fff6a1fb31b44e107" ></div>
        
</body>
<script>    
    
            var map_6d7b5833d0d0af6fff6a1fb31b44e107 = L.map(
                "map_6d7b5833d0d0af6fff6a1fb31b44e107",
                {
                    center: [20.0, 16.0],
                    crs: L.CRS.EPSG3857,
                    zoom: 2,
                    zoomControl: false,
                    preferCanvas: false,
                    scrollWheelZoom: false,
                    dragging: false,
                }
            );

            

        
    
            var tile_layer_75da6b2bfeb20dd31db90f3a6d6b3813 = L.tileLayer(
                "https://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png",
                {"attribution": "Data by \u0026copy; \u003ca href=\"http://openstreetmap.org\"\u003eOpenStreetMap\u003c/a\u003e, under \u003ca href=\"http://www.openstreetmap.org/copyright\"\u003eODbL\u003c/a\u003e.", "detectRetina": false, "maxNativeZoom": 18, "maxZoom": 18, "minZoom": 0, "noWrap": false, "opacity": 1, "subdomains": "abc", "tms": false}
            ).addTo(map_6d7b5833d0d0af6fff6a1fb31b44e107);
        
    
            var marker_dc51ebf0b28a9aff591d69eb0cd62b12 = L.marker(
                [41.3874, 2.1686],
                {}
            ).addTo(map_6d7b5833d0d0af6fff6a1fb31b44e107);
        
    
            var icon_6d92379e1c22da2e3ea07cec0d672c6a = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "check", "iconColor": "white", "markerColor": "red", "prefix": "fa"}
            );
            marker_dc51ebf0b28a9aff591d69eb0cd62b12.setIcon(icon_6d92379e1c22da2e3ea07cec0d672c6a);
        
    
            marker_dc51ebf0b28a9aff591d69eb0cd62b12.bindTooltip(
                `<div>
                     Barcelona, Spain
                 </div>`,
                {"sticky": true}
            );
        
    
            var marker_ef208bff3a53008b3b76bcbead9ecc92 = L.marker(
                [48.8566, 2.3522],
                {}
            ).addTo(map_6d7b5833d0d0af6fff6a1fb31b44e107);
        
    
            var icon_6ee7722fc42229b94c23cfff244ff1fe = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "check", "iconColor": "white", "markerColor": "red", "prefix": "fa"}
            );
            marker_ef208bff3a53008b3b76bcbead9ecc92.setIcon(icon_6ee7722fc42229b94c23cfff244ff1fe);
        
    
            marker_ef208bff3a53008b3b76bcbead9ecc92.bindTooltip(
                `<div>
                     Paris, France
                 </div>`,
                {"sticky": true}
            );
        
    
            var marker_0e305aa47480ce02ef05fd1ee661c530 = L.marker(
                [34.0522, -118.2437],
                {}
            ).addTo(map_6d7b5833d0d0af6fff6a1fb31b44e107);
        
    
            var icon_b0812b8c771fd559d7a28dc52ef18c86 = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "check", "iconColor": "white", "markerColor": "red", "prefix": "fa"}
            );
            marker_0e305aa47480ce02ef05fd1ee661c530.setIcon(icon_b0812b8c771fd559d7a28dc52ef18c86);
        
    
            marker_0e305aa47480ce02ef05fd1ee661c530.bindTooltip(
                `<div>
                     Los Angeles, California
                 </div>`,
                {"sticky": true}
            );
        
    
            var marker_05313466825958578ff95a4770451aad = L.marker(
                [51.2538, -85.3232],
                {}
            ).addTo(map_6d7b5833d0d0af6fff6a1fb31b44e107);
        
    
            var icon_c339d93cbb3ed5346455db32cb8e6b98 = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "check", "iconColor": "white", "markerColor": "red", "prefix": "fa"}
            );
            marker_05313466825958578ff95a4770451aad.setIcon(icon_c339d93cbb3ed5346455db32cb8e6b98);
        
    
            marker_05313466825958578ff95a4770451aad.bindTooltip(
                `<div>
                     Ontario, Canada
                 </div>`,
                {"sticky": true}
            );
        
    
            var marker_d47227250c1b1ca4733c0477a2cd3215 = L.marker(
                [23.1291, 113.2644],
                {}
            ).addTo(map_6d7b5833d0d0af6fff6a1fb31b44e107);
        
    
            var icon_a35fbd5381e729e0b70a750812cf1072 = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "check", "iconColor": "white", "markerColor": "red", "prefix": "fa"}
            );
            marker_d47227250c1b1ca4733c0477a2cd3215.setIcon(icon_a35fbd5381e729e0b70a750812cf1072);
        
    
            marker_d47227250c1b1ca4733c0477a2cd3215.bindTooltip(
                `<div>
                     Guangzhou, China
                 </div>`,
                {"sticky": true}
            );
        
    
            var marker_50f3be91ea75ccede0fec9479b97c86a = L.marker(
                [25.7617, -80.1918],
                {}
            ).addTo(map_6d7b5833d0d0af6fff6a1fb31b44e107);
        
    
            var icon_e7333934862a1b79f9ccaf3965e1f53a = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "check", "iconColor": "white", "markerColor": "red", "prefix": "fa"}
            );
            marker_50f3be91ea75ccede0fec9479b97c86a.setIcon(icon_e7333934862a1b79f9ccaf3965e1f53a);
        
    
            marker_50f3be91ea75ccede0fec9479b97c86a.bindTooltip(
                `<div>
                     Miami, Florida
                 </div>`,
                {"sticky": true}
            );
        
</script>