<!DOCTYPE html>
<head>    
    <meta http-equiv="content-type" content="text/html; charset=UTF-8" />
    
        <script>
            L_NO_TOUCH = false;
            L_DISABLE_3D = false;
        </script>
    
    <style>html, body {width: 100%;height: 100%;margin: 0;padding: 0;}</style>
    <style>#map {position:absolute;top:0;bottom:0;right:0;left:0;}</style>
    <script src="https://cdn.jsdelivr.net/npm/leaflet@1.6.0/dist/leaflet.js"></script>
    <script src="https://code.jquery.com/jquery-1.12.4.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Leaflet.awesome-markers/2.0.2/leaflet.awesome-markers.js"></script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/leaflet@1.6.0/dist/leaflet.css"/>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css"/>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css"/>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.6.3/css/font-awesome.min.css"/>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/Leaflet.awesome-markers/2.0.2/leaflet.awesome-markers.css"/>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/gh/python-visualization/folium/folium/templates/leaflet.awesome.rotate.min.css"/>
    
            <meta name="viewport" content="width=device-width,
                initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
            <style>
                #map_102cb84246fe1911d759975e8f078911 {
                    position: relative;
                    width: 100.0%;
                    height: 100.0%;
                    left: 0.0%;
                    top: 0.0%;
                }
            </style>
        
</head>
<body>    
    
            <div class="folium-map" id="map_102cb84246fe1911d759975e8f078911" ></div>
        
</body>
<script>    
    
            var map_102cb84246fe1911d759975e8f078911 = L.map(
                "map_102cb84246fe1911d759975e8f078911",
                {
                    center: [20.0, 16.0],
                    crs: L.CRS.EPSG3857,
                    zoom: 2,
                    zoomControl: false,
                    preferCanvas: false,
                    scrollWheelZoom: false,
                    dragging: false,
                }
            );

            

        
    
            var tile_layer_4a585278bf3266fac01f9b1d9c813fc8 = L.tileLayer(
                "https://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png",
                {"attribution": "Data by \u0026copy; \u003ca href=\"http://openstreetmap.org\"\u003eOpenStreetMap\u003c/a\u003e, under \u003ca href=\"http://www.openstreetmap.org/copyright\"\u003eODbL\u003c/a\u003e.", "detectRetina": false, "maxNativeZoom": 18, "maxZoom": 18, "minZoom": 0, "noWrap": false, "opacity": 1, "subdomains": "abc", "tms": false}
            ).addTo(map_102cb84246fe1911d759975e8f078911);
        
    
            var marker_623bd31e6e33cf090d93ce5a3d15ef34 = L.marker(
                [41.3874, 2.1686],
                {}
            ).addTo(map_102cb84246fe1911d759975e8f078911);
        
    
            var icon_fa43b925fb1bfbf2fefefff7ce2afbbc = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "check", "iconColor": "white", "markerColor": "red", "prefix": "fa"}
            );
            marker_623bd31e6e33cf090d93ce5a3d15ef34.setIcon(icon_fa43b925fb1bfbf2fefefff7ce2afbbc);
        
    
            marker_623bd31e6e33cf090d93ce5a3d15ef34.bindTooltip(
                `<div>
                     Barcelona, Spain
                 </div>`,
                {"sticky": true}
            );
        
    
            var marker_9d820ff60f4cf625785bfff75706f72f = L.marker(
                [48.8566, 2.3522],
                {}
            ).addTo(map_102cb84246fe1911d759975e8f078911);
        
    
            var icon_3dc1c7aeb03b12d94c69920a73afd129 = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "check", "iconColor": "white", "markerColor": "red", "prefix": "fa"}
            );
            marker_9d820ff60f4cf625785bfff75706f72f.setIcon(icon_3dc1c7aeb03b12d94c69920a73afd129);
        
    
            marker_9d820ff60f4cf625785bfff75706f72f.bindTooltip(
                `<div>
                     Paris, France
                 </div>`,
                {"sticky": true}
            );
        
    
            var marker_ee3361e8584497746a7888177226ac36 = L.marker(
                [34.0522, -118.2437],
                {}
            ).addTo(map_102cb84246fe1911d759975e8f078911);
        
    
            var icon_06cb65a0fb0201573e755a274e003667 = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "check", "iconColor": "white", "markerColor": "red", "prefix": "fa"}
            );
            marker_ee3361e8584497746a7888177226ac36.setIcon(icon_06cb65a0fb0201573e755a274e003667);
        
    
            marker_ee3361e8584497746a7888177226ac36.bindTooltip(
                `<div>
                     Los Angeles, California
                 </div>`,
                {"sticky": true}
            );
        
    
            var marker_b46c290551cc3eaecacbea6520b654db = L.marker(
                [51.2538, -85.3232],
                {}
            ).addTo(map_102cb84246fe1911d759975e8f078911);
        
    
            var icon_904960fe7d7e616c714ab8c76d7ce409 = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "check", "iconColor": "white", "markerColor": "red", "prefix": "fa"}
            );
            marker_b46c290551cc3eaecacbea6520b654db.setIcon(icon_904960fe7d7e616c714ab8c76d7ce409);
        
    
            marker_b46c290551cc3eaecacbea6520b654db.bindTooltip(
                `<div>
                     Ontario, Canada
                 </div>`,
                {"sticky": true}
            );
        
    
            var marker_5909603e3eb3ad54afb39f248c4b117f = L.marker(
                [23.1291, 113.2644],
                {}
            ).addTo(map_102cb84246fe1911d759975e8f078911);
        
    
            var icon_6dfc7eb46b97be66213babe1a2cc0e1e = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "check", "iconColor": "white", "markerColor": "red", "prefix": "fa"}
            );
            marker_5909603e3eb3ad54afb39f248c4b117f.setIcon(icon_6dfc7eb46b97be66213babe1a2cc0e1e);
        
    
            marker_5909603e3eb3ad54afb39f248c4b117f.bindTooltip(
                `<div>
                     Guangzhou, China
                 </div>`,
                {"sticky": true}
            );
        
    
            var marker_22bcac990fd51042596f19eb0db5affc = L.marker(
                [25.7617, -80.1918],
                {}
            ).addTo(map_102cb84246fe1911d759975e8f078911);
        
    
            var icon_c673cd31973ac272519070300b65d338 = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "check", "iconColor": "white", "markerColor": "red", "prefix": "fa"}
            );
            marker_22bcac990fd51042596f19eb0db5affc.setIcon(icon_c673cd31973ac272519070300b65d338);
        
    
            marker_22bcac990fd51042596f19eb0db5affc.bindTooltip(
                `<div>
                     Miami, Florida
                 </div>`,
                {"sticky": true}
            );
        
</script>