{% extends 'base.html' %}

{% block head %}

{% endblock %}

{% block body %}

{% block javascript %}
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
<script type="module" src="../static/js/timeline.js"></script>

{% endblock %}

<h3>Submit Message Here</h3>

<form id="form">
    <input class="input-box" type="text" id="name" name="name" placeholder="Name">
    <input class="input-box" type="email" id="email" name="email" placeholder="Email">
    <textarea class="input-box" name="content" id="content" cols="50" rows="10" placeholder="Message"></textarea>
    <button id="submit-button" type="submit" value="Submit">Submit</button>
</form>

<h3>Timeline Posts</h3>
<div id="post-data"></div>

{% endblock %}